NET "clk" LOC = "C9" | IOSTANDARD = LVCMOS33 ;
NET "reset" LOC = "K17" | IOSTANDARD = LVTTL | PULLDOWN;
NET "swR" LOC = "L13" | IOSTANDARD = LVTTL | PULLUP;
NET "swG" LOC = "L14" | IOSTANDARD = LVTTL | PULLUP;
NET "swB" LOC = "H18" | IOSTANDARD = LVTTL | PULLUP;
NET "RED" LOC = "H14" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
NET "GREEN" LOC = "H15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
NET "BLUE" LOC = "G15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
NET "hs" LOC = "F15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
NET "vs" LOC = "F14" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;

