//! **************************************************************************
// Written by: Map P.20131013 on Mon Nov 20 14:33:20 2017
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "C9" LEVEL 1;
COMP "hs" LOCATE = SITE "F15" LEVEL 1;
COMP "RED" LOCATE = SITE "H14" LEVEL 1;
COMP "vs" LOCATE = SITE "F14" LEVEL 1;
COMP "swB" LOCATE = SITE "H18" LEVEL 1;
COMP "BLUE" LOCATE = SITE "G15" LEVEL 1;
COMP "swG" LOCATE = SITE "L14" LEVEL 1;
COMP "GREEN" LOCATE = SITE "H15" LEVEL 1;
COMP "swR" LOCATE = SITE "L13" LEVEL 1;
COMP "reset" LOCATE = SITE "K17" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

